<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-4">
        <%= f.label "First Name" %>
        <%= f.text_field :fname, class: "form-control" %>
    </div>
    <div class="col-sm-4">
        <%= f.label "Middle Name" %>
        <%= f.text_field :mname, class: "form-control" %>
    </div>
    <div class="col-sm-4">
        <%= f.label "Last Name" %>
        <%= f.text_field :lname, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= f.label :birthdate %>
      <%= f.date_field :birthdate, class: "form-control" %>
    </div>
    <div class="col-sm-4">
      <%= f.label :gender %>
      <select class="form-control" name="student[gender]">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= f.label :contact_1 %>
      <%= f.text_field :contact_1, class: "form-control" %>
    </div>
    <div class="col-sm-4">
      <%= f.label :contact_2 %>
      <%= f.text_field :contact_2, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.label :address_1 %>
      <%= f.text_field :address_1, class: "form-control" %>
    </div>
    <div class="col-sm-6">
      <%= f.label :address_2 %>
      <%= f.text_field :address_2, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.label :username %>
      <%= f.text_field :user_name, class: "form-control" %>
    </div>
    <div class="col-sm-6">
      <%= f.label :password %>
      <%= f.text_field :user_pass, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <%= f.label :status %>
      <select class="form-control" name="student[status]">
        <option>Active</option>
        <option>Inactive</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-saved"></span> Save
      </button>
    </div>
  </div>
<% end %>