<%= form_for(@student) do |f| %>
<% if @student.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
	<ul>
		<% @student.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="panel panel-default">
	<div class="panel-heading">Student's Profile</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
				<label for="student_student_id">Student ID</label>
				<input class="form-control" type="text" name="student[student_id]" id="student_student_id" value="<%= params[:id] ? @student.student_id : '' %>">
			</div>
			<div class="col-sm-2">
				<label for="year_level_id">Grade / Year Level</label>
				<%= select("year_level", "id", YearLevel.all.collect {|s| [s.description, s.id]}, {:selected => params[:id] ? begin @student_year_section.year_level_id rescue raise "No Year Level specified" end : 0}, :class => "form-control")%>
			</div>
			<div class="col-sm-2">
				<label for="student_other_info_section">Section</label>
				<%= select("section", "id", Section.all.collect {|s| [s.description, s.id]}, {:selected => params[:id] ? begin @student_year_section.section_id rescue raise "No Section specified" end : 0}, :class => "form-control")%>
			</div>
			<div class="col-sm-2">
				<%= f.label :status %>
				<select id="student_status" class="form-control" name="student[status]">
					<option>Continuing</option>
					<option>Drop</option>
					<option>Transfer</option>
					<option>Returning</option>
					<option>Stop</option>
				</select>
			</div>
			<div class="col-sm-2">
				<label for="school_year">School Year</label>
				<select id="school_year" class="form-control" name="school_year">
					<option>2017-2018</option>
					<option>2016-2017</option>
					<option>2015-2016</option>
					<option>2014-2015</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%= f.label "Last Name" %>
				<%= f.text_field :lname, class: "form-control", :required => true %>
			</div>
			<div class="col-sm-4">
				<%= f.label "First Name" %>
				<%= f.text_field :fname, class: "form-control", :required => true %>
			</div>
			<div class="col-sm-4">
				<%= f.label "Middle Name" %>
				<%= f.text_field :mname, class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%= f.label :birthdate %>
				<%= f.date_field :birthdate, class: "form-control", :required => true %>
			</div>
			<div class="col-sm-4">
				<%= f.label :gender %>
				<select class="form-control" name="student[gender]">
					<option>Male</option>
					<option>Female</option>
				</select>
			</div>
			<div class="col-sm-4">
				<%= f.label :religion %>
				<select class="form-control" name="student[religion]">
					<option>Roman Catholic</option>
					<option <%= 'selected' if @student.religion == 'Iglesia Ni Cristo' %>>Iglesia Ni Cristo</option>
					<option <%= 'selected' if @student.religion == 'Muslim' %>>Muslim</option>
					<option <%= 'selected' if @student.religion == 'Mormon' %>>Mormon</option>
					<option <%= 'selected' if @student.religion == "Born Again Christian" %>>Born Again Christian</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<%= f.label :birthplace %>
				<%= f.text_field :birthplace, class: "form-control", :required => true %>
			</div>
			<div class="col-sm-6">
				<%= f.label :address %>
				<%= f.text_field :address, class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<%= f.label :username %>
				<input class="form-control" type="text" name="user[user_name]" id="user_user_name" value="<%= @user.user_name %>" required>
			</div>
			<div class="col-sm-6">
				<%= f.label :password %>
				<input class="form-control" type="password" name="user[user_pass]" id="user_user_pass" value="<%= @user.user_pass %>">
				<input class="form-control" type="hidden" name="user[access]" value="3">
				<input class="form-control" type="hidden" name="user[status]" id="user_status" value="Active">
			</div>
		</div>
	</div>
</div>
<div class="row">
<!-- BEGIN father's profile -->
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Father's Profile</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <label for="student_father_name">Name</label>
          <%= f.text_field :father_name, class: "form-control", :required => true %>
        </div>
        <div class="col-sm-12">
          <label for="student_father_birthdate">Birthdate</label>
          <%= f.date_field :father_birthdate, class: "form-control", :required => true %>
        </div>
        <div class="col-sm-12">
          <label for="student_father_address">Address</label>
          <%= f.text_field :father_address, class: "form-control", :required => true %>
        </div>
        <div class="col-sm-12">
          <label for="student_father_occupation">Occupation</label>
          <%= f.text_field :father_occupation, class: "form-control", :required => true %>
        </div>
        <div class="col-sm-12">
          <label for="student_father_contact">Contact Number</label>
          <%= f.text_field :father_contact, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END father's profile -->
<!-- BEGIN mother's profile -->
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Mother's Profile</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <label for="student_mother_name">Name</label>
          <%= f.text_field :mother_name, class: "form-control", :required => true %>
        </div>
        <div class="col-sm-12">
          <label for="student_mother_birthdate">Birthdate</label>
          <%= f.date_field :mother_birthdate, class: "form-control", :required => true %>
        </div>
        <div class="col-sm-12">
          <label for="student_mother_address">Address</label>
          <%= f.text_field :mother_address, class: "form-control", :required => true %>
        </div>
        <div class="col-sm-12">
          <label for="student_mother_occupation">Occupation</label>
          <%= f.text_field :mother_occupation, class: "form-control", :required => true %>
        </div>
        <div class="col-sm-12">
          <label for="student_mother_contact">Contact Number</label>
          <%= f.text_field :mother_contact, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END mother's profile -->
</div>
<div class="row" id="div-btn-save">
	<div class="col-sm-12">
		<button class="btn btn-primary" type="submit">
		<span class="glyphicon glyphicon-saved"></span> Save
		</button>
		<a class="btn btn-primary" href="/students">
        <span class="glyphicon glyphicon-arrow-left"></span> Back
    </a>
	</div>
</div>
<% end %>
<script>
	$(document).ready(function(){
	  $("#student_status").change(function() {
	    var status = $("#student_status option:selected").val();
	    $("#user_status").val(status);
	  });
	});
</script>