<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p id="notice"><%= notice %></p>
            
            <div class="row page-header" style="margin-bottom: 10px;">
              <div class="col-sm-3">
               <label>Search by:</label>
                <select class="form-control">
                  <option>First Name</option>
                  <option>Last Name</option>
                  <option>Year Level</option>
                </select>
              </div>
              <div class="col-sm-3">
                <label>Search text:</label>
                <input type="text" class="form-control" name="txt_search">
              </div>
              <div class="col-sm-2" style="margin-top: 25px;">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>
              <div class="col-sm-4" style="margin-top: 25px;">
                  <a class="btn btn-primary pull-right" href="/students/new">
                    <span class="glyphicon glyphicon-plus"></span> Add Student
                  </a>
              </div>
            </div>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>First name</th>
                  <th>Middle name</th>
                  <th>Last name</th>
                  <th>Birthdate</th>
                  <th>Gender</th>
                  <th>Address 1</th>
                  <th>Contact 1</th>
                  <th>Status</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @students.each do |student| %>
                  <tr>
                    <td><%= student.fname %></td>
                    <td><%= student.mname %></td>
                    <td><%= student.lname %></td>
                    <td><%= student.birthdate %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.address_1 %></td>
                    <td><%= student.contact_1 %></td>
                    <td><%= student.status %></td>
                    <td><%= link_to 'Show', student %></td>
                    <td><%= link_to 'Edit', edit_student_path(student) %></td>
                    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>
        </div>
    </div>
</div>
