<%= form_for(@schedule) do |f| %>
    <% if @schedule.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
            <ul>
                <% @schedule.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="col-sm-3">
            <label>School Year:</label>
            <select class="form-control">
                <option>2017-2018</option>
                <option>2016-2017</option>
                <option>2015-2016</option>
                <option>2014-2015</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Grade:</label>
            <%= select("year_level", "id", YearLevel.all.collect {|s| [s.description, s.id]}, {}, :class => "form-control")%>
        </div>
        <div class="col-sm-3">
            <label>Section:</label>
            <%= select("section", "id", Section.all.collect {|s| [s.description, s.id]}, {}, :class => "form-control")%>
        </div>
        <div class="col-sm-3">
            <label>Subject:</label>
            <%= select("subject", "id", Subject.all.collect {|s| [s.description, s.id]}, {}, :class => "form-control")%>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3">
            <label>Teacher:</label>
           <%= select("teacher", "id", Teacher.all.collect {|t| [t.first_name + " " + t.last_name, t.id]}, {}, :class => "form-control")%>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
            <input type="checkbox"> Monday
        </div>
        <div class="col-sm-2">
            Start <input type="time">
        </div>
        <div class="col-sm-2">
            End <input type="time">
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
            <input type="checkbox"> Tuesday
        </div>
        <div class="col-sm-2">
            Start <input type="time">
        </div>
        <div class="col-sm-2">
            End <input type="time">
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
            <input type="checkbox"> Wednesday
        </div>
        <div class="col-sm-2">
            Start <input type="time">
        </div>
        <div class="col-sm-2">
            End <input type="time">
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
            <input type="checkbox"> Thursday
        </div>
        <div class="col-sm-2">
            Start <input type="time">
        </div>
        <div class="col-sm-2">
            End <input type="time">
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
            <input type="checkbox"> Friday
        </div>
        <div class="col-sm-2">
            Start <input type="time">
        </div>
        <div class="col-sm-2">
            End <input type="time">
        </div>
    </div>
    <button class="btn btn-md btn-primary" style="margin-top: 20px;">
        Save
    </button>
<% end %>