<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p id="notice"><%= notice %></p>
            <h1 class="page-header">Schedules</h1>
            <div class="row page-header" style="margin-bottom: 10px;">
              <div class="col-sm-3">
               <label>School Year:</label>
                <select class="form-control">
                  <option>2016-2017</option>
                  <option>2015-2016</option>
                  <option>2014-2015</option>
                </select>
              </div>
              <div class="col-sm-2">
               <label>Grade:</label>
                <%= select("year_level", "id", YearLevel.all.collect {|s| [s.description, s.id]}, {}, :class => "form-control")%>
              </div>
              <div class="col-sm-2">
               <label>Section:</label>
                <%= select("section", "id", Section.all.collect {|s| [s.description, s.id]}, {}, :class => "form-control")%>
              </div>
              <div class="col-sm-2" style="margin-top: 25px;">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>
              <div class="col-sm-3" style="margin-top: 25px;">
                <% if session[:user]["access"] == 1 %>
                  <a href="/schedules/new" class="btn btn-primary pull-right">
                      <span class="glyphicon glyphicon-calendar"></span> Add Schedule
                  </a>
                <% end %>
              </div>
            </div>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Position</th>
                  <th>Subject</th>
                  <th>Room</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @teachers.each do |teacher| %>
                <tr>
                  <td><%= teacher.first_name %></td>
                  <td><%= teacher.last_name %></td>
                  <td><%= teacher.pos %></td>
                  <td><%= teacher.sub %></td>
                  <td><%= teacher.rm %></td>
                  <td>
                    <%= link_to schedule_path(teacher), :class => "btn btn-sm btn-primary" do %>
                      View
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <br>
            <div class="row text-center">
              <%= will_paginate @teachers %>
            </div>
        </div>
    </div>
</div>
