<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p id="notice"><%= notice %></p>
            <h1 class="page-header">Schedules
            <% if session[:user]["access"] == 1 %>
              <a href="/schedules/new" class="btn btn-primary pull-right">
                  <span class="glyphicon glyphicon-calendar"></span> Add Schedule
              </a>
            <% end %>
            </h1>
                
              <div class="row" style="margin-bottom: 10px;">
                    <form>
                      <div class="col-sm-3">
                      <label>Search by:</label>
                        <select class="form-control" name="searchby">
                          <option value="fname">First Name</option>
                          <option value="lname" <%= "selected" if params[:searchby] == "lname" %>>Last Name</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <label>Search text:</label>
                        <input type="text" class="form-control" name="txt_search" value="<%= params[:txt_search] if params[:txt_search] %>">
                      </div>
                      <div class="col-sm-2" style="margin-top: 25px;">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                      </div>
                      </form>
              </div>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Position</th>
                  <th>Subject</th>
                  <th>Room</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @teachers.each do |teacher| %>
                <tr>
                  <td><%= teacher.first_name %></td>
                  <td><%= teacher.last_name %></td>
                  <td><%= teacher.pos %></td>
                  <td><%= teacher.sub %></td>
                  <td><%= teacher.rm %></td>
                  <td>
                    <%= link_to schedule_path(teacher), :class => "btn btn-sm btn-primary" do %>
                      View
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <br>
            <div class="row text-center">
              <%= will_paginate @teachers %>
            </div>
        </div>
    </div>
</div>
