<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p id="notice"><%= notice %></p>
            <h1 class="page-header">Schedule</h1>
            <form id="school_year_form" method="get" action="/schedules/<%= params[:id] %>" style="width: 150px;">
                <select class="form-control" id="school_year" name="school_year">
                    <% (Time.now + 1.year).year.downto(2014).each do |yr| %>
                    <option <%= 'selected' if params[:school_year] == (yr-1).to_s + "-" + yr.to_s %>><%= (yr-1).to_s + "-" + yr.to_s %></option>
                    <% end %>
                </select>
            </form>
            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            First Name: <strong><%= @teacher.first_name %></strong>
                        </div>
                        <div class="col-sm-3">
                            Last Name: <strong><%= @teacher.last_name %></strong>
                        </div>
                        <div class="col-sm-3">
                            Subject: <strong><%= @teacher.sub %></strong>
                        </div>
                        <div class="col-sm-3">
                            Room: <strong><%= @teacher.rm %></strong>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <td><strong>Time</strong></td>
                    <td><strong>Monday</strong></td>
                    <td><strong>Tuesday</strong></td>
                    <td><strong>Wednesday</strong></td>
                    <td><strong>Thursday</strong></td>
                    <td><strong>Friday</strong></td>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched1.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <td>Flag Ceremony</td>
                    <td>Flag Ceremony</td>
                    <td>Flag Ceremony</td>
                    <td>Flag Ceremony</td>
                    <td>Flag Ceremony</td>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched2.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched2.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched3.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched3.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched4.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <td colspan="5">Recess</td>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched5.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched5.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched6.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched6.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched7.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched7.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched8.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <td>Lunch Break</td>
                    <td>Lunch Break</td>
                    <td>Lunch Break</td>
                    <td>Lunch Break</td>
                    <td>Lunch Break</td>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched9.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched9.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched10.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched10.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched11.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched11.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched12.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched12.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched13.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched13.each do |handle| %>
                      <td><%= handle.grade %> - <%= handle.sec %></td>
                    <% end %>
                </tr>
            </table>
            <a class="btn btn-primary" href="<%= session[:user]["access"] == 1 ? "/schedules" : "/main" %>">
                <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </div>
    </div>
</div>
