<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p id="notice"><%= notice %></p>
            <h1 class="page-header">
            <a class="btn btn-primary pull-right" href="<%= session[:user]["access"] == 1 ? "/schedules" : "/main" %>">
                <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
            Schedule</h1>
            <form id="school_year_form" method="get" class="hidden" action="/schedules/student/<%= params[:year_level_id] %>/<%= params[:section_id] %>" style="width: 150px;">
                <select class="form-control" id="school_year" name="school_year">
                    <% (Time.now + 1.year).year.downto(2014).each do |yr| %>
                    <option <%= 'selected' if params[:school_year] == (yr-1).to_s + "-" + yr.to_s %>><%= (yr-1).to_s + "-" + yr.to_s %></option>
                    <% end %>
                </select>
            </form>
            <table class="table table-bordered table-striped">
                <tr>
                    <td><strong>Time</strong></td>
                    <td><strong>Monday</strong></td>
                    <td><strong>Tuesday</strong></td>
                    <td><strong>Wednesday</strong></td>
                    <td><strong>Thursday</strong></td>
                    <td><strong>Friday</strong></td>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched1.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <td>Flag Ceremony</td>
                    <td>Flag Ceremony</td>
                    <td>Flag Ceremony</td>
                    <td>Flag Ceremony</td>
                    <td>Flag Ceremony</td>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched2.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched2.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched3.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched3.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched3.first.schedule_time[8..13] %> - 
                        <%= @sched5.first.schedule_time[0..4] %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <td>Recess</td>
                    <td>Recess</td>
                    <td>Recess</td>
                    <td>Recess</td>
                    <td>Recess</td>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched5.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched5.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched6.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched6.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched7.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched7.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched7.first.schedule_time[8..13] %> - 
                        <%= @sched9.first.schedule_time[0..4] %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <td>Lunch Break</td>
                    <td>Lunch Break</td>
                    <td>Lunch Break</td>
                    <td>Lunch Break</td>
                    <td>Lunch Break</td>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched9.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched9.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched10.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched10.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched11.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched11.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched12.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched12.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
                <tr>
                    <td>
                        <% begin %>
                        <%= @sched13.first.schedule_time %>
                        <% rescue %>
                        <% end %>
                    </td>
                    <% @sched13.each do |handle| %>
                      <td><%= handle.subject %> - <%= handle.room %></td>
                    <% end %>
                </tr>
            </table>
        </div>
    </div>
</div>
