<%= form_for (@event), :html => {:multipart => true} do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image2, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image3, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image4, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image5, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image6, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image7, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image8, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image9, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-12">
        <button class="btn btn-md btn-primary">
          Save
        </button>
        <a class="btn btn-primary" href="/events">
          <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
      </div>
    </div>
  </div>
<% end %>
