<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<p id="notice"><%= notice %></p>
			<h1>Events / Information
				<% if session[:user]["access"] == 1 %>
				<a href="/events/new" class="btn btn-primary pull-right">
					<span class="glyphicon glyphicon-user"></span> Add Event / Information
				</a>
				<% end %>
			</h1>
			<% @events.each do |event| %>
			<div class="panel panel-default">
				<div class="panel-heading">Date Created: <%= event.created_at.strftime("%m/%d/%Y") %>
					<% if session[:user]["access"] == 1 %>
						<a class="btn btn-sm btn-primary pull-right" href="/events/<%= event.id %>/edit" style="margin-top: -5px;">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</a>
					<% end %>
				</div>
				<div class="panel-body">
					<%= event.description %><br/>
					<img src="<%= "#{event.image}" %>" width="80%">
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>