<style>
	.alert-primary {
		background-color: #4889c1;
		color: white;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<p id="notice"><%= notice %></p>
			<h1>Events / Information
				<% if session[:user]["access"] == 1 %>
				<a href="/events/new" class="btn btn-primary pull-right">
					<span class="glyphicon glyphicon-user"></span> Add Event / Information
				</a>
				<% end %>
			</h1>
			<% ctr = 0%>
			<% @events.each do |event| %>
			<% ctr+=1 %>
			<% 
				if ctr == 5
					ctr = 0
					color = "danger"
				elsif ctr == 4
					color = "warning"
				elsif ctr == 3
					color = "info"
				elsif ctr == 2
					color = "success"
				elsif ctr == 1
					color = "primary"
				end
			%>
			<div class="panel panel-<%= color %>">
				<div class="panel-heading">Date Created: <%= event.created_at.strftime("%m/%d/%Y") %>
					<% if session[:user]["access"] == 1 %>
						<a class="btn btn-sm btn-primary pull-right" href="/events/<%= event.id %>/edit" style="margin-top: -5px;">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</a>
					<% end %>
				</div>
				<div class="panel-body alert-<%= color %>">
					<%= event.description %><br/>
					<div class="row">
						<div class="col-sm-4">
							<img src="<%= "#{event.image}" %>">
						</div>
						<div class="col-sm-4">
							<img src="<%= "#{event.image2}" %>">
						</div>
						<div class="col-sm-4">
							<img src="<%= "#{event.image3}" %>">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="<%= "#{event.image4}" %>">
						</div>
						<div class="col-sm-4">
							<img src="<%= "#{event.image5}" %>">
						</div>
						<div class="col-sm-4">
							<img src="<%= "#{event.image6}" %>">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="<%= "#{event.image7}" %>">
						</div>
						<div class="col-sm-4">
							<img src="<%= "#{event.image8}" %>">
						</div>
						<div class="col-sm-4">
							<img src="<%= "#{event.image9}" %>">
						</div>
					</div>
				</div>
			</div>
			<% end %>
			<br>
            <div class="row text-center">
              <%= will_paginate @events %>
              Result: <%= @events.count %>
            </div>
		</div>
	</div>
</div>
<style>
img {
	max-width:100%;
	max-height:100%;
}
.row {
	margin-top: 20px;
}
</style>
