<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="teacher_teacherid">Teacher ID</label>
    <input class="form-control" type="text" name="teacher[teacherid]" id="teacher_teacherid" value="<%= params[:id] ? @teacher.teacherid : @teacher_id %>">
  </div>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <label for="user_name">User name</label>
    <input class="form-control" type="text" name="user_name" id="user_name" value="<%= @user.user_name %>">
  </div>
  <div class="form-group">
    <label for="user_pass">User pass</label>
    <input class="form-control" type="password" name="user_pass" id="user_pass" value="<%= params[:id] ? @user.user_pass : @teacher_id %>">
  </div>
  <div class="form-group">
    <%= f.label "Position" %>
    <%= select("teacher", "position_id", Position.all.collect {|s| [s.description, s.id]}, {}, :class => "form-control", :name => "teacher[position_id]")%>
  </div>
  <div class="form-group">
    <%= f.label "Subject" %>
    <%= select("teacher", "subject_id", Subject.all.collect {|s| [s.description, s.id]}, {}, :class => "form-control", :name => "teacher[subject_id]")%>
  </div>
  <div class="form-group">
    <%= f.label "Room" %>
    <%= select("teacher", "room_id", Room.all.collect {|r| [r.description, r.id]}, {}, :class => "form-control", :name => "teacher[room_id]")%>
  </div>
  <button class="btn btn-md btn-primary">
      Save
  </button>
  <a class="btn btn-primary" href="/teachers">
    <span class="glyphicon glyphicon-arrow-left"></span> Back
  </a>
<% end %>
