<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p id="notice"><%= notice %></p>
            <h1 class="page-header">Payments</h1>
            <div class="row page-header" style="margin-bottom: 10px;">
              <form>
              <div class="col-sm-3">
               <label>Search by:</label>
                <select class="form-control" name="searchby">
                  <option value="fname">First Name</option>
                  <option value="lname" <%= "selected" if params[:searchby] == "lname" %>>Last Name</option>
                  <option value="year_level" <%= "selected" if params[:searchby] == "year_level" %>>Grade</option>
                </select>
              </div>
              <div class="col-sm-3">
                <label>Search text:</label>
                <input type="text" class="form-control" name="txt_search" value="<%= params[:txt_search] if params[:txt_search] %>">
              </div>
              <div class="col-sm-2" style="margin-top: 25px;">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>
              </form>
            </div>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th>First name</th>
                  <th>Middle name</th>
                  <th>Last name</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Grade</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @students.each do |student| %>
                  <tr>
                    <td><%= student.student_id %></td>
                    <td><%= student.fname.titleize %></td>
                    <td><%= student.mname.titleize %></td>
                    <td><%= student.lname.titleize %></td>
                    <td><%= student.address.titleize %></td>
                    <td><%= student.status %></td>
                    <td><%= student.student_year_sections.first.year_level.description %></td>
                    <td><%= link_to "/payments/#{student.id}", :class => "btn btn-primary btn-sm" do %>
                          <span class="glyphicon glyphicon-eye-open"></span> View
                        <% end %>
                    </td>
                    <td><%= link_to "/payform/#{student.id}", :class => "btn btn-primary btn-sm" do %>
                          <span class="glyphicon glyphicon-plus"></span> Pay
                        <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>
            <div class="row text-center">
              <%= will_paginate @students %>
              Result: <%= @students.count %>
            </div>
        </div>
    </div>
</div>
