<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enhance Student's Information System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %> bg">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"><img src="/assets/logo.jpg" style="width: 50px;position:absolute;"></a>
    </div>
    <div class="navbar-header" style="margin-left: 55px;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      Student's Information System</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if request.fullpath != "/" %>
        <li><a href="<%= "/main" if session[:user]["access"] == 1 || session[:user]["access"] == 2 %>
                      <%= "/students-main" if session[:user]["access"] == 3 %>
                      ">Main</a></li>
        <% if session[:user]["access"] == 1 %>
        <li><a href="/users">User Account</a></li>
        <li><a href="/students">Student's Info</a></li>
        <% end %>
        <li><a href="/events">Events</a></li>
        <li><a href="<%= session[:user]["access"] == 3 ? "/grades/show/#{@session_student.id}" : "/grades" %>">Grades</a></li>
        <% if session[:user]["access"] == 1 %>
        <li><a href="/teachers">Teachers</a></li>
        <% end %>
        <% if session[:user]["access"] == 1 #admin %>
          <li><a href="/schedules">Schedule</a></li>
        <% elsif session[:user]["access"] == 2 #teacher %>
          <li><a href="/schedules/<%= Teacher.find_by_user_id(session[:user]["access"]).id %>">Schedule</a></li>
        <% else %>
          <li><a href="/schedules">Schedule</a></li>
        <% end %>
        <% if session[:user]["access"] == 1 %>
        <li><a href="/payments">Payments</a></li>
        <% end %>
        <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br /><br /><br />
<%= yield %>
</body>
</html>